<ul class="js-list">
    {{#each this}}
    <li class="js-list__item">
        <a href="#" class="js-list__link">
            <h2 class="js-list__title">{{name}}</h2>
        </a>
    </li>
    {{/each}}
</ul>